* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Labrada', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    border-radius: 50%;
}

.Container {
    max-width: 1220px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /*padding:20pxleft and rigth 0 top & bottom;*/
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background: blueviolet;
    color: #ffff;
    padding: 0.8rem 1, 5rem;

    border: none;
    border-radius: 5px;
    font-weight: 500;

    width: fit-content;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0);
}

/*Styling navigation*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1 rem;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: 500;

}

header nav ul a {
    color: #1b1b1b;
}

header nav ul a:hover {
    color: rgb(85, 6, 158);
    text-decoration: underline;
}

header .navlogo span {
    color: rgb(85, 6, 158);
}

@media screen and (max-width: 768px) {
    header nav ul {
        display: none;
    }

}

.hero .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75vh;
}

.hero h1 {
    font-size: 3rem;
    line-height: 100%;
}

.hero h1 span {
    display: block;
    color: #7700ff
}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    font-weight: 500;
}

.hero .btn-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero .icon-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.hero .icon-wrapper a:hover {
    background: #7700ff;
}

.hero img {
    width: 350px;
    height: 350px;
    border-radius: 100%;


}

@media screen and (max-width: 992px) {
    .hero .Container {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 75vh;
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;


    }
}




.hero .icon-wrapper a {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background: black;
    color: white;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.btn.btn-secondary {
    background: white;
    color: #7700ff;

}

/*1200px simple laptop
992px
768px*/