* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Labrada', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

.Container {
    max-width: 1220px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0);
}

/*Styling navigation*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1 rem;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: 500;

}

header nav ul a {
    color: #1b1b1b;
}

header nav ul a:hover {
    color: rgb(85, 6, 158);
}

header .navlogo span {
    color: rgb(85, 6, 158);
}

@media screen and (max-width: 768px) {
    header nav ul {
        display: none;
    }

}

/*1200px simple laptop
992px
768px*/